.searchGroup form {
	margin-left: 15%;
	margin-right: 15%;
}

.searchGroup input,#kudosSearchBox,#helpSearchBox {
	width: 100%;
	position: relative;
}

.input-group {
	max-height: 40px !important;
}

#kudosSearchBox button {
	float: right;
	height: 42px;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

#selectedUser {
	height: 42px;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
	border-top-right-radius: 0px !important;
}

#selectedUser:hover {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}
.select2-choices{
	min-height: 40p;
	height: 40px;
	max-height: 40px;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	padding-left: 56px;
}
.selectSearch, .select2-choice {
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	font-size: 20pt;
	min-height: 40px;
	background-color: transparent;
}

.footer {
	text-align: center;
}

.skillsTable {
	width: 45%;
	float: left;
}

}
.departmentsTable {
	width: 45%;
	padding-left: 55%;
	float: right;
}

.tableSpace {
	min-height: 120px;
}