.twitter-typeahead {
    border-radius: 4px;
    margin-top: 2px;
    z-index: 1051;
}

.tt-dropdown-menu {
   	background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 4px 0;
    position: absolute;
}